@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

.charsheet {
    background: white;
}

.sheet-center--top, .sheet-center--bottom, .sheet-footer {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.sheet-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid #999;
    text-align: center;
    padding: 0 5em;
}

.sheet-logo {
    max-width: 80%;
    display: block;
    margin: auto;
    position: relative;
    width: 400px;
    z-index: 1;
}

.sheet-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sheet-header::before {
    content: "";
    background-image: url("https://gogs.vanhulst.one/vanhulst/Dishonored_character_sheet/raw/branch/master/images/left.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.sheet-header::after {
    content: "";
    background-image: url("https://gogs.vanhulst.one/vanhulst/Dishonored_character_sheet/raw/branch/master/images/right.png");
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}


.sheet-header__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.sheet-header__field > input, .sheet-header__field > select {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #999;
    text-align: center;
}

.sheet-field__header {
    text-transform: uppercase;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

input[type="number"] {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    border: 1px solid #999;
    text-align: center;
}

.sheet-section {
    text-transform: uppercase;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}